<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.quizapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizApp">
        <activity android:name=".QuestionDetailsActivity"
            android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity android:name=".UpdateQuestionsActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".UpdateSetsActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".UpdateActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".ReviewListActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity android:name=".ReviewActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity android:name=".HistoryActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".ForgotActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".dashActivity"
            android:allowEmbedded="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".ScoreActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".QuestionsActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".SetsActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".HomePage"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".LogIn"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>